* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #334155;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Papyrus, fantasy;
}
/* ADD BOOK */
#addBook {
  background-color: #436ad493;
  width: 50%;
  height: 10%;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 20px;
}
#addBook:hover {
  background-color: #436ad450;
}
/* form */
.form {
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;

  height: 60%;
  width: 80%;
  display: none;
  justify-content: center;
}
form {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.192);
  width: 63%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  color: rgba(255, 255, 255, 0.76);
  box-shadow: inset 0px 1px 15px 9px black;
}
.left {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
.right {
  width: 20%;
  height: 80%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.right button {
  height: 100%;
  width: 60%;
  font-weight: 900;
  font-size: 1em;
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin: 0;
}

input {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  font-weight: 600;
  font-size: 1.7em;
  background-color: #334155;
  font-family: Papyrus, fantasy;
  color: rgba(255, 255, 255, 0.808);
  margin: 10px 0px 20px 0px;
  text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
  -webkit-appearance: none;
}

label {
  color: rgba(255, 255, 255, 0.808);
  font-weight: 600;
  font-size: 2em;
  cursor: pointer;
  text-align: center;
}

/* BookShelf */
.bookShelf {
  width: 50%;
  height: clamp(52%, 90%, 90%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  scrollbar-width: none;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0px 1px 15px 9px black;
}
.book {
  width: 150px;
  height: 250px;
  border-radius: 15px;
  color: #535252;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #a7a5a3;
  box-shadow: inset 6px 0px 0px 0px #1d4fd8b2;
  white-space: normal; /* Allow text to wrap */
  overflow-wrap: break-word; /* Break long words */
  word-wrap: break-word; /* Legacy support */
  overflow: hidden;
}
#T {
  font-weight: 700;
  font-size: 18px;
  color: #365314;
}
#A {
  color: #365314;
}
#P {
  margin-top: 10px;
}
#R {
  overflow: hidden;
}
#status,
#read,
#notRead {
  cursor: pointer;
}
#read::after {
  content: "✔️";
  padding: 2px;
  font-size: 11px;
  align-self: center;
  cursor: pointer;
}
#notRead::after {
  content: "❌";
  position: relative;
  top: -1px;
  font-size: 11px;
  cursor: pointer;
}
.Btn {
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-top: 20px;
  background-color: #3341559c;
  color: rgb(235, 235, 235);
  font-family: Papyrus, fantasy;
  cursor: pointer;
  margin-top: auto;
}
.Btn:hover {
  background-color: #334155de;
}
